<!--The content below is only a placeholder and can be replaced.-->
<<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
  enabled. Please enable
  Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">

  <div class="row">
      <div class="col-md-6">
          <form class="form-inline">
              <div class="form-group">
                  <input type="text" [(ngModel)]="keyToConnect" name="key" class="form-control">
                  <label>WebSocket connection:</label>
                  <button *ngIf="keyToConnect !=null && !isConnected" (click)="connect()" class="btn btn-default" type="submit">Connect</button>
                  <button (click)="disconnect()" *ngIf="isConnected" class="btn btn-default" type="submit" >Disconnect
                  </button>
              </div>
              <div class="form-group">
                <label>Generer une clée:</label>
                <button (click)="generateKey()" class="btn" type="submit">Generate</button>
                <p *ngIf="key != null">{{key}}</p>
              </div>
          </form>
      </div>
      <div class="col-md-6">
          <form class="form-inline" *ngIf="isConnected">
              <div class="form-group">
                  <label for="name">What is your name?</label>
                  <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
                  <label for="content">Content</label>
                  <input type="text" [(ngModel)]="content" class="form-control" name="content"> <br>
              </div>
              <button (click)="sendMessage()" class="btn btn-default" type="submit">Send</button>
          </form>
      </div>

      <tbody *ngFor="let greeting of greetings">
        <tr>
          <td>{{greeting}}</td>
        </tr>
      </tbody>
  </div>

</div>
<router-outlet></router-outlet>
